# Chapter 9 - Python
## Building Machine Learning and Deep Learning Models on Google Cloud Platform
### Ekaba Bisong

## Data and Operations

In [0]:
# assigning data to a variable
x = 1
user_name = 'Emmanuel Okoi'

In [0]:
# print-out variables
print(x)
print(user_name)

1
Emmanuel Okoi

## Data Types

In [0]:
# data types
type(3)

int

In [0]:
type(3.0)

float

In [0]:
type('Jesam Ujong')

str

### Tuples

In [0]:
my_tuple = (5, 4, 3, 2, 1, 'hello')

In [0]:
type(my_tuple)

tuple

In [0]:
# return the sixth elelment (indexed from 0)
my_tuple[5]

'hello'

In [0]:
# we cannot alter an immutable data type
my_tuple[5] = 'hi'

TypeError: ignored

### Lists

In [0]:
my_list = [4, 8, 16, 32, 64]
# print list items to console
print(my_list)

[4, 8, 16, 32, 64]

In [0]:
# return the fourth list elelment (indexed from 0)
my_list[3]

32

In [0]:
my_list[4] = 256
print(my_list)

[4, 8, 16, 32, 256]

### Dictionary

In [0]:
my_dict = {'name':'Rijami', 'age':42, 'height':72}
# dictionary items are un-ordered
my_dict

{'age': 42, 'height': 72, 'name': 'Rijami'}

In [0]:
# get dictionary value by indexing on keys
my_dict['age']

42

In [0]:
# change the value of a dictionary item
my_dict['age'] = 35
my_dict['age']

35

## More on Lists
Because list items are mutable, they can be changed, deleted and sliced to produce a new list.

In [0]:
my_list = [4, 8, 16, 32, 64]
my_list

[4, 8, 16, 32, 64]

In [0]:
# slice the 2nd to 4th element (indexed from 0)
my_list[1:3]

[8, 16]

In [0]:
# slice from the 3rd element (indexed from 0)
my_list[2:]

[16, 32, 64]

In [0]:
# slice till the 5th element (indexed from 0)
my_list[:4]

[4, 8, 16, 32]

In [0]:
# get the last element in the list
my_list[-1]

64

In [0]:
# get the minimum element in the list
min(my_list)

4

In [0]:
# get the maximum element in the list
max(my_list)

64

In [0]:
# get the sum of elements in the list
sum(my_list)

124

In [0]:
# index(k) - return the index of the first occurrence of item k in the list
my_list.index(16)

2

When modifying a slice of elements in the list - the right-hand side can be of any length depending that the left-hand size is not a single index.

In [0]:
# modifying a list: extended index example
my_list[1:4] = [43, 59, 78, 21]
my_list

[4, 43, 59, 78, 21, 21, 64]

In [0]:
# re-initialize list elements
my_list = [4, 8, 16, 32, 64]  
my_list[1:4] = [43]
my_list

[4, 43, 64]

In [0]:
# modifying a list: single index example
# this will give a list-on-list
my_list[0] = [1, 2, 3] 
my_list

[[1, 2, 3], 43, 64]

In [0]:
# again - this is the proper way to extend lists
my_list[0:1] = [1, 2, 3]    
my_list

[1, 2, 3, 43, 64]

Some useful list methods include:

In [0]:
my_list = [4, 8, 16, 32, 64]
# get the length of the list
len(my_list)

5

In [0]:
# insert(i,k) - insert the element k at index i
my_list.insert(0,2)   
my_list

[2, 4, 8, 16, 32, 64]

In [0]:
# remove(k) - remove the first occurence of element k in the list
my_list.remove(8) 
my_list

[2, 4, 16, 32, 64]

In [0]:
# pop(i) - return the value of the list at index i
my_list.pop(3)

32

In [0]:
# reverse in-place the elements in the list
my_list.reverse() 
my_list

[64, 16, 4, 2]

In [0]:
# sort in-place the elements in the list
my_list.sort()    
my_list

[2, 4, 16, 64]

In [0]:
# clear all elements from the list
my_list.clear()   
my_list

[]

The append() method adds an item (could be a list, string, or number) to the end of a list. If the item is a list, the list as a whole is appended to the end of the current list.

In [0]:
my_list = [4, 8, 16, 32, 64]  # initial list
my_list.append(2)             # append a number to the end of list
my_list.append('wonder')      # append a string to the end of list
my_list.append([256, 512])    # append a list to the end of list
my_list

[4, 8, 16, 32, 64, 2, 'wonder', [256, 512]]

The extend() method extends the list by adding items from an iterable. Lists and strings are iterable objects. So extend appends all the elements of the iterable to the end of the list.

In [0]:
my_list = [4, 8, 16, 32, 64]
# a number is not an iterable
my_list.extend(2)

TypeError: ignored

In [0]:
my_list.extend('wonder')      # append a string to the end of list
my_list.extend([256, 512])    # append a list to the end of list
my_list

[4, 8, 16, 32, 64, 'w', 'o', 'n', 'd', 'e', 'r', 256, 512]

We can combine a list with another list by overloading the operator +

In [0]:
my_list = [4, 8, 16, 32, 64]
my_list + [256, 512]

[4, 8, 16, 32, 64, 256, 512]

## Strings
Strings can be indexed like a list as well as sliced to create new lists.

In [0]:
my_string = 'Schatz'
# get first index of string
my_string[0]

'S'

In [0]:
# slice the string from the 2nd to the 5th element (indexed from 0)
my_string[1:4]

'cha'

In [0]:
# get the length of the string
len(my_string)

6

In [0]:
# get last element of the string
my_string[-1]

'z'

We can operate on string values with the boolean operators.

In [0]:
't' in my_string

True

In [0]:
't' not in my_string

False

In [0]:
't' is my_string

False

In [0]:
't' is not my_string

True

In [0]:
't' == my_string

False

In [0]:
't' != my_string

True

We can concatenate two strings to create a new string using the overloaded operator +.

In [0]:
a = 'I'
b = 'Love'
c = 'You'
a + b + c

'ILoveYou'

In [0]:
# let's add some space
a + ' ' + b +  ' ' + c

'I Love You'

## Arithmetic and Boolean Operations

### Arithmetic Operations

In [0]:
# addition
2 + 2

4

In [0]:
# subtraction
5 - 3

2

In [0]:
# multiplication
4 * 4

16

In [0]:
# division
10 / 2

5.0

In [0]:
# use brackets to enforce precedence
2**4 / (5 + 3)

2.0

### Boolean Operations

In [0]:
# less than
2 < 5

True

In [0]:
# less than or equal to
2 <= 5

True

In [0]:
# greater than
2 > 5

False

In [0]:
# greater than or equal to
2 >= 5

False

In [0]:
# not equals to
2 != 5

True

In [0]:
# equals to
2 == 5

False

We can also carry-out identity and membership tests

In [0]:
a = [1, 2, 3]

In [0]:
2 in a

True

In [0]:
2 not in a

False

In [0]:
2 is a

False

In [0]:
2 is not a

True

## The print() statement

Variables can be concatenated using the comma. Space is implicitly added after the comma.

In [0]:
a = 'I'
b = 'Love'
c = 'You'
print(a, b, c)

I Love You

### Using the Formatter
Formatters add a placeholder for inputting a data value into a string output using the curly brace {}.

In [0]:
print("{} {} {}".format(a, b, c))

I Love You

In [0]:
# re-ordering the output
print("{2} {1} {0}".format(a, b, c))

You Love I

## Control Structures

### The if / elif (else-if) statements

In [0]:
a = 8
if type(a) is int:
    print('Number is an integer')
elif a > 0:
    print('Number is positive')
else:
    print('The number is negative and not an integer')

Number is an integer

### The while loop

In [0]:
a = 8
while a > 0:
    print('Number is', a)

    # decrement a
    a -= 1

Number is 8
Number is 7
Number is 6
Number is 5
Number is 4
Number is 3
Number is 2
Number is 1

### The for loop

In [0]:
a = [2, 4, 6, 8, 10]
for elem in a:
    print(elem**2)

4
16
36
64
100

To loop for a specific number of time use the range() function.

In [0]:
for idx in range(5):
    print('The index is', idx)

The index is 0
The index is 1
The index is 2
The index is 3
The index is 4

## List Comprehensions
Using list comprehension, we can succinctly re-write a for-loop that iteratively builds a new list using an elegant syntax.

In [0]:
squares = []
for elem in range(0,5):
    squares.append((elem+1)**2)

squares

[1, 4, 9, 16, 25]

The above code can be concisely written as:

In [0]:
[(elem+1)**2 for elem in range(0,5)]

[1, 4, 9, 16, 25]

This is even more elegant in the presence of nested control structures.

In [0]:
evens = []
for elem in range(0,20):
    if elem % 2 == 0 and elem != 0:
        evens.append(elem)
evens

[2, 4, 6, 8, 10, 12, 14, 16, 18]

With list comprehension, we can code this as:

In [0]:
[elem for elem in range(0,20) if elem % 2 == 0 and elem != 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

## The break and continue statements

The break statement terminates the execution of the nearest enclosing loop (for, while loops) in which it appears.

In [0]:
for val in range(0,10):
    print("The variable val is:", val)
    if val > 5:
        print("Break out of for loop")
        break

The variable val is: 0
The variable val is: 1
The variable val is: 2
The variable val is: 3
The variable val is: 4
The variable val is: 5
The variable val is: 6
Break out of for loop

The continue statement skips the next iteration of the loop to which it belongs; ignoring any code after it.

In [0]:
a = 6
while a > 0:
    if a != 3:
        print("The variable a is:", a)
    # decrement a
    a = a - 1
    if a == 3:
        print("Skip the iteration when a is", a)
        continue

The variable a is: 6
The variable a is: 5
The variable a is: 4
Skip the iteration when a is 3
The variable a is: 2
The variable a is: 1

## Functions

Lets create a simple function:

In [0]:
def squares(number):
    return number**2

In [0]:
squares(2)

4

Heres another function example:

The * before the parameter number indicates that the variable can receive any number of values - which is implicitly bound to a tuple.

In [0]:
def _mean_(*number):
    avg = sum(number)/len(number)
    return avg

In [0]:
_mean_(1,2,3,4,5,6,7,8,9)

5.0

## Lambda expressions

Lambda expressions provide a concise and succinct way to write simple functions that contain just a single-line.

In [0]:
square = lambda x: x**2

In [0]:
square(2)

4

## Packages and Modules

The import statement allows you to load any Python module into your source file. It has the following syntax:

In [0]:
import numpy as np

# the absolute value of -10
np.abs(-10)

10

The from statement allows you to import a specific feature from a module into your source file. The syntax is as follows:

In [0]:
from numpy import mean

mean([2,4,6,8])

5.0